<div class="col-10 col-md-8 col-lg-6 mb-2 d-flex align-items-center">
  <div class="pl-0 pr-0 m-0 avatar-child">
    <img src="<%= show_child_pic_image child %>" class="card-img-top child_pic" alt="<%= child.name %>的照片">
    <%= child.name %>
  </div>
</div>
