<div class="container text-center">
  <h4 class="function-subtitle function-subtitle-meal mb-3 mt-2">用餐紀錄</h4>
  <% dashboards.each do |date,dashboard| %>
    <div class="table-list mt-2 mb-3">
      <table class="table">
        <caption><%= date.to_date %></caption>
        <tbody>
          <% dashboard.each do |d| %>
            <tr>
              <th>
                <%= link_to d.title, dashboard_child_eat_path(child_id: d.child_id, id: d.id), class: 'text-dark' %>
              </th>
              <% if d.content.present? %>
                <td class="text-secondary"><%= d.content %></td>
              <% else %>
                <td class="text-secondary">無註明用餐內容</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
