@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

body{
  font-family: Microsoft JhengHei, 'Noto Sans TC', sans-serif;
}
.frontend {
  background-color: #ffffff;
  height: 100%;
  min-height: 100vh;
  background-size:cover;
}
.backend {
  background-color: #ffffff;
  height: 100%;
  min-height: 100vh;
  background-size:cover;
}
.signin-box, .signup-box{
  width:400px;
}
.logoimg{
  width:30px;
}
.facebook-button {
  background-color: rgba(41, 72, 125, .8);
  color: #fff;
}
.facebook-button {
  background-color: rgba(41, 72, 125, 1);
  color: #fff;
}
.babybackgorund {
  background-image: linear-gradient( rgba(240, 178, 107, 0.3)), url(https://monicare.s3-ap-northeast-1.amazonaws.com/photo-1551934262-db2d7dd517f4.jpg);
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  .homepage_box {
    height: 100vh;
  }
  .homepageimg {
    height: 30vh;
    display: inline-block;
    margin: 0 auto;
  }
  .homepage_background_color {
    background-color: rgba(250, 227, 217, 0.6);
    max-height: 90vh;
    text-align: center;
    .homepage-title {
      font-size: 1.6rem;
      font-weight: 700;
      color: rgb(122, 48, 5);
      letter-spacing: .2rem;
    }
    .homepage-text {
      font-size: 1.2rem;
      font-weight: 600;
      color: rgb(122, 48, 5);
      letter-spacing: .1rem;
    }
  }
}
  .parent-sign-in-button {
    background-color: rgba(240, 105, 102, .8);
    border-color: transparent;
    color: #ffffff;
  }
  .parent-sign-in-button:hover,
  .parent-sign-in-button:focus {
    background-color: rgba(240, 105, 102, .9);
    border-color: rgba(240, 105, 102, .5);
    box-shadow: 0 0 0 0.2rem rgba(240, 105, 102, .5);
    color: #ffffff;
  }
  .teacher-sign-in-button {
    background-color: rgba(217, 152, 115, .8);
    border-color: transparent;
    color: #ffffff;
  }
  .teacher-sign-in-button:hover,
  .teacher-sign-in-button:focus {
    background-color: rgba(217, 152, 115, .9);
    border-color: rgba(217, 152, 115, .5);
    box-shadow: 0 0 0 0.2rem rgba(217, 152, 115, .5);
    color: #ffffff;
  }
  .navwidth{
    max-width: 960px;
  }

.frontend-navbar {
  .btn,.btn-fake{
    color: #3D847B;
  }
  background-color: #76D1C5;
  .navbar-brand,
  a.nav-link.frontend-link {
    color: #3D857B ;
  }
  .notification {
    color: #F9CD00 ;
  }
  .navbar-brand:hover,
  a.nav-link.frontend-link:hover {
    color: rgba(59, 88, 145, 1);
  }
  .sign-out-button,
  .user-name-button {
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
  }
  .sign-out-button:hover,
  .user-name-button:hover,
  .sign-out-button:focus,
  .user-name-button:focus {
    color: rgba(140, 81, 46, 1);
  }
  .dropdown.show {
    .nav-link {
      color: #8C512E;
      font-weight: bold;
    }
    .dropdown-item {
      color: #3D847B;
      font-weight: bold;
    }
  }
  .dropdown-item:hover {
    background-color: rgba(217, 101, 59, .2);
  }
  .dropdown-item:focus {
    background-color: rgba(217, 101, 59, .4);
  }
}
.backend-navbar {
  .btn,.btn-fake{
    color: #D9653B;
  }
  .notification{
    color: #76D1C5;
  }
  background-color: #F9CE00;
  .navbar-brand,
  a.nav-link.backend-link {
    color: #FF7A01;
  }
  .navbar-brand:hover,
  a.nav-link.backend-link:hover {
    color: rgba(140, 81, 46, 1);
  }
  .form-control:hover,
  .form-control:focus {
    border-color: rgba(217, 152, 115, .5);
    box-shadow: 0 0 0 0.2rem rgba(217, 152, 115, .5);
  }
  .sign-out-button,
  .user-name-button {
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
  }
  .sign-out-button:hover,
  .user-name-button:hover,
  .sign-out-button:focus,
  .user-name-button:focus {
    color: rgba(140, 81, 46, 1);
  }
  .dropdown.show {
    .nav-link {
      color: #8C512E;
      font-weight: bold;
    }
    .dropdown-item {
      color: #D9653B;
      font-weight: bold;
    }
  }
  .dropdown-item:hover {
    background-color: rgba(217, 101, 59, .2);
  }
  .dropdown-item:focus {
    background-color: rgba(217, 101, 59, .4);
  }
}
.new-child {
  .new-child-backgroud {
    background-color: rgba(230, 230, 230, .3);
    padding: 1.5rem 3rem 1.2rem;
  }
  .new-child-title {
    color: rgba(140, 81, 46, 0.8);
  }
}
.dashboard, .myclass-page {
  .dashboard-title {
    color: rgba(50, 50, 50, 0.9);
  }
  .child-name {
    color: rgba(140, 81, 46, .8);
  }
  a {
    text-decoration: none;
  }
  a:hover {
    .child-name {
      color: rgba(140, 81, 46, 1);
    }
    img {
      border-radius: 60%;
    }
  }
  .card {
    border-color: transparent;
    background-color: transparent;
    .card-image {
      overflow: hidden;
    }
    .card-img-top.child_pic {
      width: 130px;
      height: 130px;
      object-fit: cover;
      border-radius: 50%;
    }
    .card-body {
      background-color: transparent;
    }
  }
  .search_btn:hover,
  .search_btn:focus {
    background-color: rgba(140, 81, 46, .9);
  }
  .search_btn {
    background-color: rgba(140, 81, 46, .8);
    border-color: rgba(217, 152, 115, .5);
    color: #ffffff;
  }
}
.overview {
  .overview-title {
    color: rgba(140, 81, 46, 0.9);
    font-size: 1rem;
  }
  .overview-title-child-name{
    font-size: 1rem;
    color: #000;
  }
  .function-button {
    background-color: #ff585d;
    border-color: transparent;
    padding: 6px;
    color: #ffffff;
    i {
      font-size: 1.2rem;
      letter-spacing: .2rem;
    }
    span {
      font-size: 1rem;
      letter-spacing: .2rem;
      font-weight: 600;
    }
  }
  .function-button:hover,
  .function-button:focus {
    background-color: #f13b41;
    box-shadow: none;
  }
  .search_btn:hover,
  .search_btn:focus {
    background-color: rgba(140, 81, 46, .9);
    box-shadow: none;
  }
  .search_btn {
    background-color: rgba(140, 81, 46, .8);
    border-color: rgba(217, 152, 115, .5);
    color: #ffffff;
    // vertical-align: inherit;
  }
  .link-button {
    color: #333;
    text-decoration: none;
  }
  .link-button:hover,
  .link-button:focus {
    color: #111;
  }
  .dashboard_list {
    border: 0.05rem solid #dee2e6;
    border-radius: .5rem;
    padding: .3rem;
  }
  .searching-form-hide {
    display: none;
    .form-control {
      display: inline-block;
    }
    .form-control:hover, .form-control:focus {
      border-color: rgba(217, 152, 115, .7);
      box-shadow: 0 0 0 0.2rem rgba(217, 152, 115, .5);
    }
  }
  .table {
    i {
      font-size: 1.5rem;
    }
    .icon-medicine {
      color: #2cacf7;
    }
    .icon-meal {
      color: #f171af;
    }
    .icon-misc {
      color: #41cfcf;
    }
    th.overview-icon {
      text-align: center;
      padding: 0.8rem 0 0.5rem 0;
      span {
        display: inline-block;
        width: 10vw;
        font-size: .5rem;
      }
    }
    th {
      padding: 0.5rem 0.75rem;
      a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 45vw;
      }
    }
    td {
      border-top: 0;
      padding: 0 0.75rem 0.5rem 0.75rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: 60vw;
    }
    caption {
      caption-side: initial;
    }
    .more-button {
      background-color: rgba(217, 152, 115, .8);
      border-color: transparent;
      color: #ffffff;
    }
    .more-button:hover {
      background-color: rgba(217, 152, 115, 1);
      border-color: rgba(217, 152, 115, 1);
    }
    .more-button:focus {
      box-shadow: 0 0 0 0.2rem rgba(217, 152, 115, .5);
    }
    .link-button {
      color: #333;
      text-decoration: none;
    }
    .link-button:hover,
    .link-button:focus {
      color: #111;
    }
  }
}
.function-page {
  .avatar-child {
    overflow: hidden;
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
    }
    a {
      color: rgba(140, 81, 46, .8); 
      font-size: 1rem;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: .1rem;
    }
    a:hover {
      color: rgba(140, 81, 46, 1);
    }
  }
  .function-item-medicine,
  .function-item-meal,
  .function-item-pick-up,
  .function-item-misc {
    padding: .75rem .1rem;
    i {
      font-size: 2rem;
    }
    span {
      font-size: 1rem;
      letter-spacing: .2rem;
      font-weight: 600;
    }
  }
  .function-item-medicine,
  .function-item-meal,
  .function-item-pick-up,
  .function-item-misc {
    border: transparent;
  }
  .function-item-medicine,
  .function-subtitle-medicine,
  .create-button-medicine {
    color: #2cacf7;
  }
  .function-item-meal,
  .function-subtitle-meal,
  .create-button-meal {
    color: #f171af;
  }
  .function-item-pick-up,
  .function-subtitle-pick-up,
  .create-button-pick-up {
    color: #808af8;
  }
  .function-item-misc,
  .function-subtitle-misc,
  .create-button-misc {
    color: #41cfcf;
  }
  .list-group-item:hover,
  .list-group-item:focus {
    background-color: #dddddd;
    border-color: #dddddd;
  }
  .list-group-item.active {
    background-color: #dfdfdf;
    border-color: #dfdfdf;
  }
  .function-subtitle {
    font-size: 1.8rem;
    letter-spacing: .2rem;
  }
  .create-button-pick-up:hover,
  .create-button-pick-up:focus {
    color: #807ad8;

  }
  .create-button-medicine:hover,
  .create-button-medicine:focus {
    color: #2cacc5;
  }
  .create-button-meal:hover,
  .create-button-meal:focus {
    color: #c971af;
  }
  .create-button-misc:hover,
  .create-button-misc-focus {
    color: #41bfbf;
  }
  .table-list {
    border: 0.05rem solid #dee2e6;
    border-radius: .5rem;
    padding: 12px;
  }
  .table {
    th {
      text-align: left;
      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 20vw;
      }
      a.title-of-editor {
        width: 35vw;
      }
    }
    td {
      vertical-align: inherit;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: 40vw;
    }
    td.icon-of-editor {
      width: 30vw;
      text-align: center;
    }
    td.w-100 {
      width: 60vw;
    }
    i {
      font-size: 1.5rem;
      letter-spacing: .5rem;
      
    }
    caption {
      caption-side: initial;
      padding-left: 12px;
    }
    .delete-button {
      color: #a00;
    }
    .delete-button:hover {
      color: #800;
    }
    .delete-button:focus {
      box-shadow: none;
    }
    .edit-button {
      color: rgba(217, 101, 59, .7);
    }
    .edit-button:hover {
      color: rgba(217, 101, 59, .9);
    }
    .edit-button:focus {
      box-shadow: none;
    }
    .more-button {
      color: rgba(242, 136, 75, .7);
    }
    .more-button:hover {
      color: rgba(242, 136, 75, .9);
    }
    .more-button:focus {
      box-shadow: none;
    }
    .link-button {
      color: #D9653B;
      text-decoration: none;
    }
    .link-button:hover,
    .link-button:focus {
      color: #C8543B;
    }
  }
  a {
    text-decoration: none;
  }
  .card {
    border-color: transparent;
    .card-image {
      overflow: hidden;
    }
    .card-img-top.avatar-relative {
      width: 110px;
      height: 110px;
      object-fit: cover;
      border-radius: 50%;
    }
    .relative-name {
      color: #8C512E;
      font-size: 22px;
    }
    .card-body {
      background-color: transparent;
    }
  }
}
.task-edit {
  .title-color {
    color: rgba(140, 81, 46, 0.9);
  }
  .submit-button,
  .sign-in-button {
    background-color: rgba(140, 81, 46, .7);
    border-color: transparent;
    color: #ffffff;
  }
  .submit-button:hover,
  .sign-in-button:hover {
    background-color: rgba(140, 81, 46, .9);
    border-color: rgba(140, 81, 46, .5);
  }
  .submit-button:focus,
  .sign-in-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 152, 115, .5);
  }
  .back-button,
  .sign-up-button {
    background-color: rgba(217, 152, 115, .7);
    border-color: transparent;
    color: #ffffff;
  }
  .back-button:hover,
  .sign-up-button:hover {
    background-color: rgba(217, 152, 115, .9);
    border-color: rgba(217, 152, 115, .5);
  }
  .back-button:focus,
  .sign-up-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 152, 115, .5);
  }
  #preview_child_pic,
  .preview_pick_up_pic_new,
  .preview_meal_pic_new,
  .preview_misc_pic_new {
    display: none;
  }
  form {
    color: #8C512E;
    .form-control-color {
      background-color: #F2F2F2;
      color: #D9653B;
      border: 1px solid rgba(217, 152, 115, .3);
    }
    .form-control-color:hover {
      border-color: rgba(217, 152, 115, .7);
    }
    .form-control-color:focus {
      box-shadow: 0 0 0 0.2rem rgba(217, 152, 115, .5);
    }
    .url-color {
      background-color: #F2F2F2;
      color: #D9653B;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    select {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #8C512E;
      background-color: #f2f2f2;
      background-clip: padding-box;
      border: 1px solid rgba(217, 152, 115, .3);
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    select:hover, select:focus {
      border-color: rgba(217, 152, 115, .7);
      box-shadow: 0 0 0 0.2rem rgba(217, 152, 115, .5);
    }
    select:focus option:checked {
      background-color: rgba(217, 152, 115, .7);
      color: #f2f2f2;
    }
  }
}
.task-show {
  .title-color {
    color: rgba(140, 81, 46, 0.9);
  }
  .submit-button {
    background-color: rgba(140, 81, 46, .8);
    border-color: transparent;
    color: #ffffff;
  }
  .submit-button:hover {
    background-color: rgba(140, 81, 46, .9);
    border-color: rgba(140, 81, 46, .5);
  }
  .submit-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 152, 115, .5);
  }
  .back-button {
    background-color: rgba(217, 152, 115, .7);
    border-color: transparent;
    color: #ffffff;
  }
  .back-button:hover {
    background-color: rgba(217, 152, 115, .9);
    border-color: rgba(217, 152, 115, .5);
  }
  .back-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 152, 115, .5);
  }
  table {
    background-color: #f2f2f2;
    color: #8C512E;
    .edit-button {
      background-color: rgba(217, 101, 59, .7);
      border-color: transparent;
      color: #ffffff;
    }
    .edit-button:hover {
      background-color: rgba(217, 101, 59, .9);
      border-color: rgba(217, 101, 59, 1);
    }
    .edit-button:focus {
      box-shadow: 0 0 0 0.2rem rgba(217, 101, 59, .5);
    }
  }
  .form-control-color.todaypickr {
    color: rgba(140, 81, 46, 1);
    background-color: rgba(217, 101, 59, 0.3);
    border: 1px solid rgba(147, 74, 73, .1);
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
  }
  .form-control-color.todaypickr.active {
    background-color: rgba(217, 101, 59, 0.3);
    color: #f2f2f2;
    border: transparent;
    font-size: 16px;
    box-shadow: none;
    outline: none;
  }
  .form-control-color:hover, .form-control-color:focus {
    border-color: rgba(217, 152, 115, .7);
    box-shadow: none;
    cursor: pointer;
  }
}
.flatpickr-calendar {
  background: #f2f2f2;
  .flatpickr-months {
    .flatpickr-prev-month, .flatpickr-next-month {
      color: rgba(140, 81, 46, .9);
      fill: rgba(140, 81, 46, .9);
    }
    .flatpickr-month {
      color: rgba(140, 81, 46, .9);
      fill: rgba(140, 81, 46, .9);
    }
    .flatpickr-prev-month:hover, .flatpickr-next-month:hover {
      color: rgba(140, 81, 46, 0.8);
    }
    .flatpickr-prev-month:hover svg,
    .flatpickr-next-month:hover svg {
      fill: rgba(140, 81, 46, .2);
    }
    .numInputWrapper {
      span {
        border: 1px solid rgba(217, 152, 115, .05);
      }
      span:hover {
        background: rgba(140, 81, 46, .1);
      }
      span:active {
        background: rgba(140, 81, 46, .2);
      }
      span.arrowUp:after {
        border-bottom: 4px solid rgba(140, 81, 46, .8);
      }
      span.arrowDown:after {
        border-top: 4px solid rgba(140, 81, 46, .8);
      }
      span svg path {
        fill: rgba(217, 152, 115, .5);
      }
    }
    .numInputWrapper:hover {
      background: rgba(140, 81, 46, .2);
    }
    .flatpickr-current-month {
      span.cur-month:hover {
      background: rgba(140, 81, 46, .05);
      }
      input.cur-year[disabled],
      input.cur-year[disabled]:hover {
        color: rgba(140, 81, 46, .8);
      }
      .flatpickr-monthDropdown-months:hover {
        background: rgba(140, 81, 46, 0.2);
      }
    }
  }
  .flatpickr-weekdays {
    .flatpickr-weekday {
      color: rgba(140, 81, 46, .9);
    }
  }
  .flatpickr-days {
    .flatpickr-day {
      color: rgba(140, 81, 46, .8);
    }
    .flatpickr-day:hover {
      background: rgba(217, 152, 115, .5);
      border-color: rgba(217, 152, 115, .1);
      color: #ffffff;
    }
    .flatpickr-day.today {
      border-color: rgba(140, 81, 46, .2);
    }
    .flatpickr-day.today:hover,
    .flatpickr-day.today:focus {
      border-color: rgba(217, 152, 115, .3);
      background: rgba(217, 152, 115, .8);
    }
    .flatpickr-day.selected,
    .flatpickr-day.startRange,
    .flatpickr-day.endRange,
    .flatpickr-day.selected.inRange,
    .flatpickr-day.startRange.inRange,
    .flatpickr-day.endRange.inRange,
    .flatpickr-day.selected:focus,
    .flatpickr-day.startRange:focus,
    .flatpickr-day.endRange:focus,
    .flatpickr-day.selected:hover,
    .flatpickr-day.startRange:hover,
    .flatpickr-day.endRange:hover {
      background: rgba(217, 152, 115, .8);
      border-color: rgba(217, 152, 115, .8);
    }
    .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
    .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
    .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
      -webkit-box-shadow: -10px 0 0 rgba(217, 152, 115, .3);
              box-shadow: -10px 0 0 rgba(217, 152, 115, .3);
    }
    .flatpickr-day.flatpickr-disabled,
    .flatpickr-day.flatpickr-disabled:hover {
      color: rgba(140, 81, 46, .1);
      background: transparent;
      border-color: transparent;
    }
    .flatpickr-day.week.selected {
      border-radius: 0;
      -webkit-box-shadow: -5px 0 0 rgba(217, 152, 115, .3), 5px 0 0 rgba(217, 152, 115, .3);
              box-shadow: -5px 0 0 rgba(217, 152, 115, .3), 5px 0 0 rgba(217, 152, 115, .3);
    }
  }
  .flatpickr-time{
    .numInputWrapper {
      span {
        border: 1px solid rgba(217, 152, 115, .05);
      }
      span:hover {
        background: rgba(140, 81, 46, .5);
      }
      span:active {
        background: rgba(140, 81, 46, .5);
      }
      span.arrowUp:after {
        border-bottom-color: rgba(140, 81, 46, .7);
      }
      span.arrowDown:after {
        border-top-color: rgba(140, 81, 46, .7);
      }
    }
    .numInputWrapper:hover {
      background: rgba(140, 81, 46, .2);
    }
    input {
      color: rgba(140, 81, 46, 0.8);
    }
    .flatpickr-time-separator,
    .flatpickr-am-pm {
      color: rgba(140, 81, 46, .7);
    }
    input:hover,
    .flatpickr-am-pm:hover,
    input:focus,
    .flatpickr-am-pm:focus {
      background: rgba(140, 81, 46, .2);
    }
  }
}
.signature-pad-wrapper {
  position: relative;
  width: 300px;
  height: 150px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  canvas.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:300px;
    height:150px;
    border: 1.2px solid rgba(150, 150, 150, 1);
  }
}
.signature-button {
  background-color: rgba(150, 150, 150, 1);
  border-color: transparent;
  color: #ffffff;
}
.signature-button:hover {
  background-color: rgba(150, 150, 150, 1);
  border-color: rgba(150, 150, 150, .9);
  color: #ffffff;
}
.signature-button:focus {
  box-shadow: none;
}
.signature-save-button {
  background-color: rgba(240, 105, 102, 0.7);
  color: #f2f2f2;
}
.signature-save-button:hover {
  color: #8C512E;
}
.swal2-container {
  #swal2-title {
    color: #8C512E;
  }
  .swal2-content {
    color: #8C512E;
  }
  button.swal2-confirm {
    background-color: rgba(140, 81, 46, .8);
  }
  button.swal2-confirm:hover,
  button.swal2-confirm:focus {
    background-color: rgba(140, 81, 46, .9);
    border-color: rgba(140, 81, 46, .5);
    box-shadow: 0 0 0 0.2rem rgba(217, 152, 115, .5);
  }
}
.avatar-child {
  overflow: hidden;
  color: rgba(140, 81, 46, .8); 
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: .1rem;
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
}
.avatar-child:hover {
  color: rgba(140, 81, 46, 1);
}
.pick_up_pic, .meal_pic, .misc_pic, .child_pic {
  text-align: center;
  img {
    width: 80%;
    height: 80%;
  }
  img#preview_pick_up_pic,
  img#preview_meal_pic,
  img#preview_misc_pic {
    width: 260px;
  }
}
.child_pic_url {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.custom-file-label::after {
  content: "瀏覽";
  color: #8C512E;
}
.student_list {
  #preview_child_pic {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 767px){
  .babybackgorund {
    background-image: linear-gradient( rgba(240, 178, 107, 0.3)), url(https://monicare.s3-ap-northeast-1.amazonaws.com/babycare2.jpg);
    height: 100%;
    min-height: 100vh;
    .homepageimg {
      width: 100%;
      height: 10%;
    }
  }
}
@media screen and (min-width: 768px){
  .dashboard, .myclass-page {
    .card {
      img.card-img-top.child_pic {
        height: 240px;
        width: 240px;
      }
    }
  }
  .overview .table th.overview-icon span {
    font-size: 1rem;
  }
  .function-page {
    .card {
      img.card-img-top.avatar-relative {
        height: 240px;
        width: 240px;
      }

    }
  }
}
@media screen and (min-width: 992px){
  .dashboard {
    .card {
      img.card-img-top-child_pic {
        height: 255px;
        width: 255px;
      }
    }
  }
  .function-page {
    .card {
      img.card-img-top.avatar-relative {
        height: 255px;
        width: 255px;
      }
    }
  }
}
@media screen and (min-width: 1200px){
  .dashboard {
    .card {
      img.card-img-top.child_pic {
        height: 300px;
        width: 300px;
      }    
    }
  }
  .function-page {
    .card {
      img.card-img-top.avatar-relative {
        height: 300px;
        width: 300px;
      }
    }
  }
}


