<%= render 'shared/backend/navbar' %>
<%= render 'shared/flash' if notice %>

<div class="container text-center dashboard">
  <h4 class="font-weight-bold dashboard-title mb-3">
    <%= @teacher.name %>的學生
  </h4>
  <%= render 'shared/backend/students', students: @students %>
</div>
